
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #8e9cbb,#d0c6e0);
}

.login {
    width: 380px;

    padding: 35px;

    background-color: white;

    border-radius: 15px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);

    text-align: center;
}

/* LOGO */
.logo {
    width: 160px;
    height: auto;

    display: block;

    margin: 0 auto 20px;
}

.login h1 {
    color: #4b2aad;

    margin-bottom: 10px;
}

.login > p {
    color: #666;

    margin-bottom: 25px;
}

form {
    text-align: left;
}

label {
    display: block;

    margin-bottom: 8px;

    color: #333;

    font-weight: bold;
}

input {
    width: 100%;

    padding: 12px;

    margin-bottom: 20px;

    border: 2px solid #ddd;

    border-radius: 8px;

    font-size: 15px;

    outline: none;
}

input:focus {
    border-color: #4b2aad;
}

button {
    width: 100%;

    padding: 13px;

    border: none;

    border-radius: 8px;

    background: linear-gradient(90deg, #2563eb, #7c3aed);

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.cadastro {
    margin-top: 25px;

    font-size: 14px;
}

.cadastro a {
    color: #4b2aad;

    font-weight: bold;

    text-decoration: none;
}

.cadastro a:hover {
    text-decoration: underline;
}

